.idea/
SIGNATURE.SMF
build-tools/
hybris-sbg/
hybris/bin/modules/
hybris/bin/platform/
hybris/config/
hybris/data/
hybris/log/
hybris/temp/
idea-module-files/
installer/
licenses/
hybris/bin/custom/training/trainingcore/eclipsebin/
hybris/bin/custom/training/trainingcore/classes/